html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.containerOne{
    text-align: center;
}

.topicContent{
    margin-left: 200px;
    margin-right: 200px;
}