html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url ("background0.jpg");
}

h1{
    text-align: center;
    padding-bottom: 100px;
}

.navbar{
    margin-bottom: 50px;
}

.topicTitle{
    text-align: center;
}

.topicContent{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.copyright{
    font-size: 20px;
}